legend{
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    } 

 form{
    background-image: linear-gradient(red, yellow);

     }

     button{
    cursor:pointer;
        
     }


  
  
 